main {
  padding: 32px;
}

main h2 {
  font-size: 2rem;
  color: var(--gray-900);
  margin-bottom: 16px;
}

main p {
  margin-bottom: 16px;
}

main a {
  background-color: var(--primary-800);
  color: var(--primary-200);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 128px;
}