html {
  width: 100vw;
  height: 100vh;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column-reverse;
}

.form-inputs input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid var(--primary-700);
  margin-bottom: 32px;
  height: 16px;
}

.form-inputs label {
  margin-bottom: 8px;
}

.submit-container {
  text-align: center;
  padding: 16px 0px;
}

h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

input[type="submit"] {
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.25rem;
}

hr {
  margin: 16px auto;
  width: 80%;
}

p {
  margin-bottom: 4px;
}

p a {
  font-weight: bold;
}

@media (max-width: 575.98px) {
  body {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #fff;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background-color: var(--primary-500);
    color: #fff;
    box-shadow: 0px 2px 6px var(--gray-400);
  }

  main {
    margin: auto;
  }

  .form-inputs input:focus-within + label {
    color: var(--primary-700);
  }

  h2 {
    color: var(--gray-900);
  }

  label {
    color: var(--gray-700);
  }

  p {
    color: var(--gray-800);
  }

  p a {
    color: var(--primary-700);
  }

  input[type="submit"] {
    background-color: var(--primary-700);
    color: #fff;
  }
}

@media (min-width: 576px) {
  html {
    display: flex;
    background-image: linear-gradient(to right, var(--primary-700), var(--primary-400));
  }

  body {
    margin: auto;
    height: auto;
  }

  main {
    min-width: 312px;
  }

  p a {
    background-color: #fff;
    padding: 0px 4px;
    font-weight: normal;
    border-radius: 4px;
  }

  header, label, p {
    color: #fff;
  }

  header h1 {
    text-shadow: 2px 1px #fff, 0px 2px var(--gray-300);
    margin-bottom: 16px;
  }

  h2 {
    display: none;
  }

  .form-inputs input {
    background: transparent;
    border-bottom-color: #fff;
    color: #fff;
  }

  input[type="submit"] {
    color: var(--primary-700);
    background-color: #fff;
  }
}